@{
    ViewData["Title"] = "About Me";
}

<div class="about-me">
    <h1 class="about-me-intro">Hi there!</h1>
    <p class="about-me-description">My name is Bishal Gautam. An undergraduate of Bachelor's in Computer Engineering from Tribhuvan University. 
        With a strong interest in mathematical, statistical, and probabilistic problems, I am always looking to improve my data analytics skill.
        When I'm not working on a project, I'm busy improving my guitar skills. You can find me listening to heavy rock/blues rock, mostly from Cream, Led Zeppelin, Jeff Beck, Rory Gallagher, Rush.
        I can also be found playing chess ocassionally.
    </p>
    <p class="about-me-contact">
        <h6>Connect with me on various platforms</h6>

    </p>
    <footer class="index-footer">
        <a class="btn btn-primary" asp-asp-controller="Home" asp-action="AboutMe">About Me</a> 
        <a class="btn btn-primary" asp-asp-controller="Home" asp-action="WorkExperience">Work Experiences</a>
        <a class="btn btn-primary" asp-asp-controller="Home" asp-action="Education">Education</a> 
        <a class="btn btn-primary" asp-asp-controller="Home" asp-action="Project">Projects</a> 
        <a class="btn btn-primary" asp-asp-controller="Home" asp-action="Skills">My Skills</a>
        <a class="btn btn-primary" asp-asp-controller="Home" asp-action="Certification">Certification</a> 
        <br /><br/>
        <a class="btn btn-primary" asp-asp-controller="Home" asp-action="Index">Return to Home Page</a>     
    </footer>
</div>
