@{
    ViewData["Title"] = "Work Experiences";
}

<div class="text-center">
    <h1 class="display-4">Hi</h1>
    
    <footer class="index-footer">
        <a class="btn btn-primary" asp-asp-controller="Home" asp-action="AboutMe">About Me</a> 
        <a class="btn btn-primary" asp-asp-controller="Home" asp-action="WorkExperience">Work Experiences</a>
        <a class="btn btn-primary" asp-asp-controller="Home" asp-action="Education">Education</a> 
        <a class="btn btn-primary" asp-asp-controller="Home" asp-action="Project">Projects</a> 
        <a class="btn btn-primary" asp-asp-controller="Home" asp-action="Skills">My Skills</a>
        <a class="btn btn-primary" asp-asp-controller="Home" asp-action="Certification">Certification</a>
        <br /><br/>
        <a class="btn btn-primary" asp-asp-controller="Home" asp-action="Index">Return to Home Page</a>     
    </footer>
</div>
